// Variables
$primary-color: #412300;
$secondary-color: #d17214;
$text-color: white;
$featured-text: #0000;

$mobile: 420px;
$tablet: 768px;
$desktop: 1000px;
// Classes
.bg-primary {
  background-color: $primary-color;
}
.text-1 {
  color: $secondary-color;
}
// Resets
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

// Functions
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #fff;
  } @else {
    @return #000;
  }
}

// Mixins
@mixin theme($light-theme: true) {
  @if ($light-theme) {
    background-color: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

// Media Mixins
@mixin media-sm {
  @media screen and (min-width: 420px) {
    @content;
  }
}
@mixin media-sm-md {
  @media screen and (min-width: 620px) {
    @content;
  }
}
@mixin media-smb {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-lg-xl {
  @media screen and (min-width: 1315px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
