@import "config";
@import "fonts";

// General Styles
img {
  width: 100%;
}
header {
  a {
    color: white;
  }
}
.hero {
  @include media-md {
    width: 60%;
  }
}
// Classes
.grow:hover {
  transform: scale(1.03);
}
.vh100 {
  height: 100vh;
}
#bgDiv {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

@import "nav";
@import "components";
@import "oatcake";
